<div class="container mt-2">
    <div class="row fs-3 fw-semibold text-decoration-underline">
      <p class="text-center">Informações da Calculadora</p>
    </div>
    <div class="row mt-3 fw-semibold lh-lg">
      <p>A calculadora pode realizar operações matemáticas básicas:</p>
      <ul>
        <li>Adição (+)</li>
        <li>Subtração (-)</li>
        <li>Multiplicação (*)</li>
        <li>Divisão (/)</li>
      </ul>
      <p>As operações seguem a ordem de precedência matemática.</p>
    </div>
  </div>
  